# Common settings
# Auto detect text files and perform LF normalization
#  - Will handle all files NOT found below
* text=auto eol=lf


# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text diff=markdown


# Exclude files from exporting
.gitattributes  export-ignore
.gitignore      export-ignore


# Enable syntax highlighting for files with `.gitattributes` extensions.
*.gitattributes linguist-language=gitattributes
*.gitattributes linguist-detectable=true
*.gitattributes linguist-documentation=false


# Documents
*.bibtex   text diff=bibtex
*.doc      diff=astextplain
*.DOC      diff=astextplain
*.docx     diff=astextplain
*.DOCX     diff=astextplain
*.dot      diff=astextplain
*.DOT      diff=astextplain
*.{[pdf]],[pP][dD][fF]} filter=lfs diff=lfs merge=lfs -text
*.rtf      diff=astextplain
*.RTF      diff=astextplain
*.md       text diff=markdown
*.mdx      text diff=markdown
*.tex      text diff=tex
*.adoc     text
*.textile  text
*.mustache text
*.csv      text eol=crlf
*.tab      text
*.tsv      text
*.txt      text
*.sql      text
*.epub     diff=astextplain


# Graphics
*.gif filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.webp filter=lfs diff=lfs merge=lfs -text
# SVG treated as an asset (binary) by default.
*.svg      text
*.eps      binary


# Scripts
*.bash     text eol=lf
*.fish     text eol=lf
*.sh       text eol=lf
# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf
*.{ics,[iI][cC][sS]} text eol=crlf


# Serialisation
*.json     text
*.toml     text
*.xml      text
*.yaml     text
*.yml      text


# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2 filter=lfs diff=lfs merge=lfs -text


# Other
*.exe filter=lfs diff=lfs merge=lfs -text


# Archives
*.7z binary filter=lfs diff=lfs merge=lfs -text
*.br binary filter=lfs diff=lfs merge=lfs -text
*.gz binary filter=lfs diff=lfs merge=lfs -text
*.tar binary filter=lfs diff=lfs merge=lfs -text
*.zip binaryfilter=lfs diff=lfs merge=lfs -text
*.rar binary filter=lfs diff=lfs merge=lfs -text
*.tgz binary filter=lfs diff=lfs merge=lfs -text
*.xz binary filter=lfs diff=lfs merge=lfs -text
*.bz2 binary filter=lfs diff=lfs merge=lfs -text
*.Z binary filter=lfs diff=lfs merge=lfs -text
*.lz binary filter=lfs diff=lfs merge=lfs -text
*.lz4 binary filter=lfs diff=lfs merge=lfs -text
*.lzo binary filter=lfs diff=lfs merge=lfs -text
*.lzip binary filter=lfs diff=lfs merge=lfs -text
*.lzma binary filter=lfs diff=lfs merge=lfs -text
*.lzf binary filter=lfs diff=lfs merge=lfs -text
*.lha binary filter=lfs diff=lfs merge=lfs -text
*.arj binary filter=lfs diff=lfs merge=lfs -text
*.cab binary filter=lfs diff=lfs merge=lfs -text
*.chm binary filter=lfs diff=lfs merge=lfs -text
*.iso binary filter=lfs diff=lfs merge=lfs -text
*.tar binary filter=lfs diff=lfs merge=lfs -text
*.vhd binary filter=lfs diff=lfs merge=lfs -text
*.vmdk binary filter=lfs diff=lfs merge=lfs -text
*.wim binary filter=lfs diff=lfs merge=lfs -text
*.zpaq binary filter=lfs diff=lfs merge=lfs -text
*.zst binary filter=lfs diff=lfs merge=lfs -text
*.bzip2 binary filter=lfs diff=lfs merge=lfs -text
*.tar binary filter=lfs diff=lfs merge=lfs -text
*.taz binary filter=lfs diff=lfs merge=lfs -text
*.tbz2 binary filter=lfs diff=lfs merge=lfs -text
*.tbz binary filter=lfs diff=lfs merge=lfs -text
*.tlz binary filter=lfs diff=lfs merge=lfs -text
*.txz binary filter=lfs diff=lfs merge=lfs -text
*.tzst binary filter=lfs diff=lfs merge=lfs -text
*.zst binary filter=lfs diff=lfs merge=lfs -text

# Text files where line endings should be preserved
*.patch    -text
*.diff     -text

# Basic .gitattributes for a python repo.
# Note: .db, .p, and .pkl files are associated with the python modules
# pickle, dbm.*, shelve, marshal, anydbm, & bsddb, (among others).

# Source files
# ============
*.pxd    text diff=python
*.py     text diff=python
*.py3    text diff=python
*.pyw    text diff=python
*.pyx    text diff=python
*.pyz    text diff=python

# Binary files
# ============
*.db     binary
*.p      binary
*.pkl    binary
*.pickle binary
*.pyc    binary
*.pyd    binary
*.pyo    binary

# Jupyter notebook
*.ipynb  text

# Define binary file attributes.
# - Do not treat them as text.
# - Include binary diff in patches instead of "binary files differ."
*.eot     -text diff
*.exe     -text diff
*.otf     -text diff
*.phar    -text diff
*.svgz    -text diff
*.ttf     -text diff
*.woff    -text diff
*.woff2   -text diff


# C/C++
# Sources
*.c     text diff=cpp
*.cc    text diff=cpp
*.cxx   text diff=cpp
*.cpp   text diff=cpp
*.cpi   text diff=cpp
*.c++   text diff=cpp
*.hpp   text diff=cpp
*.h     text diff=cpp
*.h++   text diff=cpp
*.hh    text diff=cpp

# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary


# C#
*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf


# Go
*.go -text diff=golang


# Java sources
*.java          text diff=java
*.kt            text diff=kotlin
*.groovy        text diff=java
*.scala         text diff=java
*.gradle        text diff=java
*.gradle.kts    text diff=kotlin

# These files are text and should be normalized (Convert crlf => lf)
*.css           text diff=css
*.scss          text diff=css
*.sass          text
*.df            text
*.htm           text diff=html
*.html          text diff=html
*.js            text
*.mjs           text
*.cjs           text
*.jsp           text
*.jspf          text
*.jspx          text
*.properties    text
*.tld           text
*.tag           text
*.tagx          text
*.xml           text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.jar           binary
*.so            binary
*.war           binary
*.jks           binary

# Common build-tool wrapper scripts ('.cmd' versions are handled by 'Common.gitattributes')
mvnw            text eol=lf
gradlew         text eol=lf


# Apply override to all files in the directory
*.md linguist-detectable

# PHP files
*.php     text eol=lf diff=php
*.phpt    text eol=lf diff=php
*.phtml   text eol=lf diff=html
*.twig    text eol=lf
*.phar    binary

# Configuration
phpcs.xml    text eol=lf
phpunit.xml  text eol=lf
phpstan.neon text eol=lf
psalm.xml    text eol=lf


# Powershell
*.ps1      text eol=crlf
*.ps1x     text eol=crlf
*.psm1     text eol=crlf
*.psd1     text eol=crlf
*.ps1xml   text eol=crlf
*.pssc     text eol=crlf
*.psrc     text eol=crlf
*.cdxml    text eol=crlf

# Rust
*.rs       text diff=rust
*.toml     text diff=toml
Cargo.lock text


# Rails
schema.rb merge=ours diff=ruby


# Swift 
*.pbxproj merge=union
*.swift   text diff=swift


# Web
*.bash            text eol=lf
*.bat             text eol=crlf
*.cmd             text eol=crlf
*.coffee          text
*.css             text diff=css
*.htm             text diff=html
*.html            text diff=html
*.inc             text
*.ini             text
*.js              text
*.mjs             text
*.cjs             text
*.json            text
*.jsx             text
*.less            text
*.ls              text
*.map             text -diff
*.od              text
*.onlydata        text
*.php             text diff=php
*.pl              text
*.ps1             text eol=crlf
*.py              text diff=python
*.rb              text diff=ruby
*.sass            text
*.scm             text
*.scss            text diff=css
*.sh              text eol=lf
.husky/*          text eol=lf
*.sql             text
*.styl            text
*.tag             text
*.ts              text
*.tsx             text
*.xml             text
*.xhtml           text diff=html

# Docker
Dockerfile        text

# Documentation
*.ipynb           text eol=lf
*.markdown        text diff=markdown
*.md              text diff=markdown
*.mdwn            text diff=markdown
*.mdown           text diff=markdown
*.mkd             text diff=markdown
*.mkdn            text diff=markdown
*.mdtxt           text
*.mdtext          text
*.txt             text
AUTHORS           text
CHANGELOG         text
CHANGES           text
CONTRIBUTING      text
COPYING           text
copyright         text
*COPYRIGHT*       text
INSTALL           text
license           text
LICENSE           text
NEWS              text
readme            text
*README*          text
TODO              text

# Templates
*.dot             text
*.ejs             text
*.erb             text
*.haml            text
*.handlebars      text
*.hbs             text
*.hbt             text
*.jade            text
*.latte           text
*.mustache        text
*.njk             text
*.phtml           text
*.svelte          text
*.tmpl            text
*.tpl             text
*.twig            text
*.vue             text

# Configs
*.cnf             text
*.conf            text
*.config          text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
.htaccess         text
*.lock            text -diff
package.json      text eol=lf
package-lock.json text eol=lf -diff
pnpm-lock.yaml    text eol=lf -diff
.prettierrc       text
yarn.lock         text -diff
*.toml            text
*.yaml            text
*.yml             text
browserslist      text
Makefile          text
makefile          text
# Fixes syntax highlighting on GitHub to allow comments
tsconfig.json     linguist-language=JSON-with-Comments

# Heroku
Procfile          text


# Audio
*.kar             binary
*.m4a             binary
*.mid             binary
*.midi            binary
*.mp3             binary
*.ogg             binary
*.ra              binary

# Video
*.3gpp            binary
*.3gp             binary
*.as              binary
*.asf             binary
*.asx             binary
*.avi             binary
*.fla             binary
*.flv             binary
*.m4v             binary
*.mng             binary
*.mov             binary
*.mp4             binary
*.mpeg            binary
*.mpg             binary
*.ogv             binary
*.swc             binary
*.swf             binary
*.webm            binary


# Executables
*.exe             binary
*.pyc             binary
# Prevents massive diffs caused by vendored, minified files
**/.yarn/releases/**   binary
**/.yarn/plugins/**    binary

# RC files (like .babelrc or .eslintrc)
*.*rc             text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text

# Prevents massive diffs from built files
dist/*            binary